<div class="row"></div>
<h1>My travels</h1>

    <% @travels.each do |travel| %>
      <%= @bounds = travel.azaz %>
      <div id='map' style='width: 400px; height: 200px;'></div>
      <%= render 'map_script' %>
      <%= travel.name %>
      <%= link_to 'Show', travel %>
      <%= link_to 'Edit', edit_travel_path(travel) %>
      <%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>


<br>


<%= link_to 'New Travel', new_travel_path %>
