<div class="row"></div>
<h1>My travels</h1>

    <% @travels.each_with_index do |travel, i| %>
      <% @bounds = travel.azaz %>
      <% @gon.element = "mini_maps#{i}" %>

      <div class="mini_maps" id="<%= @gon.element %>" ></div>
      <%= render 'mini_map_script' %>
      <%= travel.name %>
      <%= link_to 'Show', travel %>
      <%= link_to 'Edit', edit_travel_path(travel) %>
      <%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>


<br>


<%= link_to 'New Travel', new_travel_path %>
