<p id="notice"><%= notice %></p>


  
    <div id="map" style='position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;'></div>
  <%= render 'routes/map_script' %>
 

<div class="small-3 large-3 large-offset-9 columns panel" style="margin-top = -70px;">
  <h1><strong></strong>/<%= @travel.name %></h1>
  <h5>Departure date</h5>

<div class="row">

<div class="small-3 columns">
          <label for="right-label" class="right inline"><i class="fi-torsos picto"></i></label>
        </div>
        <div class="small-3 small-pull-6 columns">
          <select id="right-label">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        </div>


  </div>

   <p> 
    <table>
      <thead>
        <tr>
          <th>Stage</th>
          <th>Duration</th>
        </tr>
      </thead>
        <%= render '/stages/stages' %>
 
     
  </table>
  <%= link_to "new stage", new_travel_stage_path(@travel, @stage), id: "add", method: :get, remote: true %>
</div>


