<p id="notice"><%= notice %></p>

<h1>
  <%= @travel.name %>
</h1>


<table>
  <thead>
    <tr>
      <th>Route name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @travel.routes.each do |route| %>
      <tr>
        <td><%= route.route_name %></td>
        <td><%= link_to 'Show', travel_routes_path(@travel.id) %></td>
        <td><%= link_to 'Edit' %></td>
        <td><%= link_to 'Destroy', travel_routes_path(:travel_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a new Route', new_travel_route_path( @travel.id ) %>


<%= link_to 'Edit', edit_travel_path %> |
<%= link_to 'Back', travels_path %>
