<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="small-6 large-3 columns">
  <%= f.input :first_name, :autofocus => true %>
	<%= f.input :last_name %>
  <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, :autocomplete => "on", :placeholder => "leave blank if you don't want to change it"  %> <i class="handle">(leave blank if you don't want to change it)</i>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password %> <i class = "handle">(we need your current password to confirm your changes)</i>
  <%= f.button :submit, value: "Update" %>
<% end %>

<p>Unhappy? Cancel my account<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

</div>
<%= link_to "Back", :back %>
