<div class="small-6 large-8 columns">
	<h1>Stop traveling during the monsoon!</h1>
 	<%= image_tag('monsoon.jpg') %>
</div>
<div class="small-6 large-3 columns">
	<h1>Sign up</h1>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>

	<%= f.input :first_name, :autofocus => true %>

	<%= f.input :last_name %>

	<%= f.input :email %>

	<%= f.input :password, :autocomplete => "off"  %>

	<%= f.input :password_confirmation, :autocomplete => "off" %>

	<%= f.button :submit, value: "Sign up", class: "button small radius"%>
	
	<% end %>

	<div><%= render "devise/shared/links" %></div>
</div>

