

<%= simple_form_for(@map) do |f| %>
<% if @map.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

  <ul>
    <% @map.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <legend>Données de départ de l'itinéraire</legend>
  <div class="field"><div class="row">
    <div class="small-12 medium-8 large-12 columns medium-centered">
      <%= f.input :map_name, :autofocus => true, placeholder: 'Map title'%>
    </div>
    <div class="small-12 medium-8 large-12 columns medium-centered">
      <%= f.input :city %>
      <%= f.input :country %>
      <input data-date data-date-format="%d/%m/%Y" /></input>

    </div>      
  </div>
  </div>
</fieldset>

   <!-- cf reserve I18n -->

    <div class="small-12 medium-8 large-12 columns medium-centered">
      <%= f.button :submit %>
    </div>

<% end %>



