	<div class="small-11 small-centered  large-11 large-centered columns">
<h2>Listing maps</h2>
</div>
<div class="row">

  <div class="small-6 large-5 columns">
  
<table>
  <thead>
    <tr>
      <th>Map name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.map_name %></td>
        <td><%= link_to 'Show', map %></td>
        <td><%= link_to 'Edit', edit_map_path(map) %></td>
        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="small-6 large-7 columns">EMBEDED MAP</div>
</div>

<div class="row">
	<div class="small-6 large-5 columns">
<%= link_to 'New Map', new_map_path %>
</div>
</div>


