


		<ul data-orbit data-options= "animation_speed:1000;  timer_speed:5000; animation:fade; resetTimerOnClick: true; pauseOnHover: false;">
			<li>
				<%= image_tag('indonesie.jpg') %>
			</li>

			<li>
				<%= image_tag('indonesie2.jpg') %>
			</li>

			<li>
				<%= image_tag('oceanie.jpg') %>
			</li>
			<li>
				<%= image_tag('gansu.jpg') %>
			</li>
			<li>
				<%= image_tag('paques.jpg') %>
			</li>
			<li>
				<%= image_tag('indonesie3.jpg') %>
			</li>
			<li>
				<%= image_tag('mongolie.jpg') %>
			</li>
			<li>
				<%= image_tag('canada.jpg') %>
			</li>
		</ul>
