<!-- 	<div id="landing_bg">
-->


<header>
</header>

<body>
	<div id="featured_orbit" >
		<ul data-orbit data-options="animation_speed:1000; timer_speed:5000; animation:fade; resetTimerOnClick: true; pauseOnHover: false; slide_number: false; slide_number_text: of; navigation_arrows: false; bullets: false">
			<li>
				<%= image_tag('pamir_1.jpg') %>
			</li>

			<li>
				<%= image_tag('plage_1.jpg') %>
			</li>

			<li>
				<%= image_tag('perou_1.jpg') %>
			</li>

			<li>
				<%= image_tag('oceanie_1.jpg') %>
			</li>
			<li>
				<%= image_tag('gansu_1.jpg') %>
			</li>
			<li>
				<%= image_tag('paques_1.jpg') %>
			</li>
			<li>
				<%= image_tag('indonesie3_1.jpg') %>
			</li>
			<li>
				<%= image_tag('nature_1.jpg') %>
			</li>
			<li>
				<%= image_tag('canada_1.jpg') %>
			</li>
		</ul>
	</div>

	<div class="row" id="logo">
		Copilot
	</div>


	<div id="panel_baseline"> 
		<div class="row" >
		<div class="small-12 large-12 columns">
			<h1 id="baseline_1">Vous passez entre 6 à 18 mois aux préparatifs d'un tour du monde.
			</h1>
		</div>
		<div class="small-12 large-12 columns">
			<h1 id="baseline_2">
				Consacrez plus de temps à voyager !
			</h1>
		</div>
	</div>
</div>

	<div class="row" id="landing_form_position">


		<div class="small-6 large-5 columns">
		</div>

		<div class="small-6 large-7 columns">

			<%= form_for :prospect do |f| %>

			<div class="row panel radius collapse panel-bg" id="form_prospect">

				<div class="small-9 columns">
					<%= f.text_field :email, placeholder: "mon.email@example.com"%>
				</div>

				<div class="small-3 columns">
					<%= f.submit "Inscription", class:"button postfix radius" %>
				</div>

				<% end %>

			</div>
		</div>
	</div>

	<p>picto</p>
	<p>picto</p>
</body>
<!-- </div> -->