<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.input :email %><br />

  <div><%= f.input :password %><br />

  <% if devise_mapping.rememberable? -%>
    <div>Remember me <%= f.check_box :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
