    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= render 'stages/google' %>

<% if @stage == @travel.stages.first %>
	<div class="small-12 large-centered columns panel-bg" style="margin-top: 15%; padding: 5px; height: 50px; border-radius: 5px;">
	    <ul style="inline-block inline">
			<%= minimal_form_for @stage , url: travel_stages_path(@travel) do |s| %>
			<%= s.error_notification %>
				<div class="row">
					<ul class="inline-list">
						 <div class="small-7 large-7 columns"><%= s.input :address, placeholder: 'Where does your trip start ?', :autofocus => true %></div>

							<div class="small-3 large-3 columns"><%= s.text_field :departure_date, :id => "datepicker", placeholder: 'Departure date', label: 'Departure date' %></div>

						<div class="small-2 large-2 columns"><%= s.button :submit, value: 'Make a trip', class: "button small radius"%></div>
						<%= s.hidden_field :route_id %>
					</ul>
				</div>
			<% end %>
		</ul>
		<div class="small-centered large-centered small-3 large-3 small-offset-5 large-offset-5 columns panel" style="margin-top: 15%; padding: 5px; border-radius: 5px; text-align: center;">Already signed up ? <%= link_to("Log in", new_user_session_path) %> </div>
	</div>
<% else %>
	<%= minimal_form_for @stage , url: travel_stages_path(@travel) do |s| %>
	<%= s.error_notification %>
		<h2>Add a new Stop</h2>
		<div class="row">
			<body onload="initialize()">
    		<div id="locationField">
      			<input id="autocomplete" placeholder="Where do you want to go next ????" onFocus="geolocate()" type="text" value="<%# s.input %>"></input>
				</div>
				<div class="small-6 large-6 column" id="autocomplete"><%= s.input :address, placeholder: 'Where do you want to go next ?', :autofocus => true %></div>
				<div class="small-2 large-2 column"><%= s.date_field :departure_date, :id => "datepicker", placeholder: 'Departure date', label: 'Departure date' %>
 					 <%= s.telephone_field :duration, placeholder: 'Duration' %>
				</div>
				<div class="small-2 large-2 column"><%= s.button :submit, value: 'Next stop', class: "button small radius" %></div>
				<div class="small-2 large-2 column"><%= s.button :submit, value: 'Finish', class: "button small radius"%></div>
	  		</body>
		</div>
	<% end %>
<% end %>


<!-- , remote: true -->
