<tbody id="stage" data-update-url="<%= sort_travel_stages_url(@travel)%>">
    <% @stages.each do |stage| %>
      <tr>
        <%= content_tag_for :td, stage do %>
            <span><i class="handle fa fa-sort"></i></span>
            <%= link_to h(stage.address), (@stage.travel) %>
        <% end %>
          <td>
            <%= stage.departure_date %>
            <%= stage.duration %>
          </td>
            <td><%= button_to '-', travel_stage_path(@travel, stage), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
      </tr>
     <% end %>
</tbody>
