<%= minimal_form_for(@route) do |r| %>
  <%= r.error_notification %>


<fieldset>
  <legend>Données de départ de l'itinéraire</legend>

<div class="row">
    <div class="small-4 medium-4 large-4 columns">
		  <div class="form-inputs">
		    <%= r.input :route_name, :autofocus => true, placeholder: 'Route title'%>
		    <input data-date data-date-format="%d/%m/%Y" /></input>
		    <%= r.input :departure_date, label: 'Departure date' %>

				<div class="row">
					<%= r.fields_for(@route.stages.build) do |s| %>
						<%= s.input :address, placeholder: 'Base camp' %>
					<% end %>
				</div>
				
		  </div>

		  <div class="form-actions">
		    <%= r.button :submit %>
		  </div>
<% end %>

	</div>
</div>

</fieldset>




