

<p id="notice"><%= notice %></p>

<%= @user_route.first_name %>

<h1><strong><%= @travel.name %></strong></h1>

<div class="small-4 large-4 columns">

<h1>  
  <%= @route.route_name %>
</h1>


<h4><strong>Departure date</strong></h4>
<p>
    <%= @stage.departure_date %>
</p>

<h3><strong>Stages</strong></h3>
 <p> 
  <table>
    <thead>
    <tr>
      <th>Stop off</th>
      <th>Duration</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
    <tbody>
      <% @stages.each do |stage| %>
  <tr>
         <td><%= stage.address %></td>
         <td><%= stage.duration %></td>
        <td><%= link_to 'Edit', edit_route_stage_path(@route, stage) %></td>
        
  </tr>
    <% end %>
      </tbody>
</table>
</p>
<h3>
<%= link_to 'Add a stop', new_route_stage_path(@route) %>
</h3>



<%= minimal_form_for(@route) do |r| %>
  <%= r.error_notification %>
          <%= r.fields_for :stage do |s| %>
            <%= s.text_field :departure_date , :id => "datepicker", placeholder: 'departure date', label: 'Departure date' %>
            <%= s.input :address, placeholder: 'Base camp' %>
          <% end %>

        <%= r.button :submit, value: 'Update the route'%>
<% end %>











<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>

</div>


<div class="small-8 large-8 columns">
  <div id="map" style='width: 800px; height: 400px;'></div>
<%= render 'map_script' %>
</div>

