<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Copilot" %> | <%= @titre %></title>

  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>

</head>

<body>
<div>
<%= render "common/side_bar" %>
</div>

<div>
<%= render "common/top_bar" %>
  <div>

<!-- Message pour Devise
-->    

<% if flash[:notice] %>

<div data-alert class="alert-box success">
  <%= flash[:notice] %>
</div>

<% end %>

<% if flash[:alert] %>

<div data-alert class="alert-box alert">
  <%= flash[:alert] %>
</div>

<% end %>

<!--       Fin message pour Devise
-->    

<!--  Add sign_in, sign_out, and sign_up 
-->


<%= yield %>
</div>
</div>


</body>
</html>

