<ul class="side-nav" id="lateral-bar">
	<dl>
		<% if user_signed_in? %>
		<li class="active">
			<dd><%= link_to(home_index_path) do %><%= image_tag('26945-NB.png') %><% end %></dd>
		</li>
		<% else %>
		<li class="active">
			<dd><%= link_to(root_path) do %><%= image_tag('26945-NB.png') %><% end %></dd>
		</li>
		<% end %>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Travels">
					<%= link_to(travels_path) do %>
					<i class="fi-foundation"></i>
					<% end %>
				</span>
			</dd>
		</li>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Budget">
					<%= link_to '<i class="fa fa-money"></i>'.html_safe, (home_help_path) %>
			</dd>
		</li>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Check list">
					<%= link_to '<i class="fi-clipboard-pencil"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Climate">
					<%= link_to(home_help_path) do %>
					<i class="fa fa-umbrella"></i>
					<% end %>
				</span>
			</dd>
		</li>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Roadmap">
					<%= link_to(home_help_path) do %>
					<i class="fa fa-road"></i>
					<% end %>
				</span>
			</dd>
		</li>
		<li>
			<dd><span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Explore other maps">
					<%= link_to '<i class="fa fa-lightbulb-o"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		<li>
			<dd><span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Travel Shaker">
					<%= link_to '<i class="fa fa-magic"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		</li>
			<li>
			<dd><span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Destinations">
					<%= link_to '<i class="fa fa-flag-checkered"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		<li>
			<dd><span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Statistics about travel">
					<%= link_to '<i class="fi-graph-trend"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		<li>
			<dd>
				<span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="Lock">
					<%= link_to '<i class="fa fa-lock"></i>'.html_safe, (home_help_path) %>
				</span>

			</dd>
		</li>
		<li>
			<dd><span data-tooltip data-options="disable_for_touch:true" class="tip-right" title="FAQ">
					<%= link_to '<i class="fi-info"></i>'.html_safe, (home_help_path) %>
				</span>
			</dd>
		</li>
	</dl>
</ul>

