<div class="fixed">
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
      <li><h1 class="main">COPILOT</h1></li>
    </ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right hmenu">

    <% if user_signed_in? %>
      <li class="top_bar_user_name inline" >Hello <%= current_user.first_name %></li>
      <span style="margin-right: 10px;"></span>
      <li>
        <a href="#" data-dropdown="hover1" data-options="is_hover:true"><i class="fi-torso"></i></a>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li class="down"><%= link_to 'Manage account '+current_user.first_name+' '+current_user.last_name, home_profile_path %></li>
          <li class="down"><%= render "devise/shared/registration_items" %></li>
          <li class="down"><a href="#">Contact Support</a></li>
          <li class="down"><a href="#">Shop</a></li>
          <li class="active" style="text-align: center;"><%= render "devise/shared/login_items" %></li>
        </ul>
      </li>
      <li >
      <%= link_to(home_index_path) do %><i class="fi-mail"></i><% end %>
    </li>
    <% else %>
      <li>
        <%= render "devise/shared/login_items" %>
      </li>
      <li class="sign_up_button">
        <%= link_to('Sign up !', new_user_registration_path) %>
      </li>
    <% end %>
  </ul>
</section>
</nav>
</div>