<div class="fixed">
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
<!--       <li class="name">
        <h1><a href="#">My Site</a></h1>
      </li> -->
      
<!--     <li class="divider"></li>
-->    <li class="has-form">
<div class="row collapse">
  <div class="large-8 small-9 columns">
    <input type="text" placeholder="Find Stuff">
  </div>
  <div class="large-4 small-3 columns">
  </div>
</div>
</li>

</ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right hmenu">

    <li >
<!--        link_to(edit_user_registration_path) do %><i class="fi-arrows-in picto"></i> end 
    -->


  <% if user_signed_in? %>
      <li class="top_bar_user_name">Hello <%= current_user.first_name %></li>
      <li>
        <%= link_to(edit_user_registration_path) do %><i class="fi-arrows-in picto"></i><% end %>
      </li>
    </li>

      <li>
        <a href="#" data-dropdown="hover1" data-options="is_hover:true"><i class="fi-torso picto"></i></a>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><%= link_to current_user.first_name+' '+current_user.last_name, home_profile_path %>view profile</li>
          <li><%= render "devise/shared/registration_items" %></li>
          <li><a href="#">Contact Support</a></li>
          <li><a href="#">Shop</a></li>
          <li class="active" style="text-align: center;"><%= render "devise/shared/login_items" %></li>
        </ul>
      </li>
      <li >
      <%= link_to(edit_user_registration_path) do %><i class="fi-megaphone picto"></i><% end %>
    </li>

    <% else %>
      <li>
        <%= link_to('Help', home_help_path)  %>
      </li>
      <li>
        <%= render "devise/shared/login_items" %>
      </li>
      <li>
        <%= link_to('Free account !', new_user_registration_path)  %>
      </li>
    <% end %>
</ul>





<!-- Left Nav Section -->
<ul class="left">
  <li><%= link_to 'Mes voyages', maps_path %></li> 
  <li><%= link_to 'Mon budget', maps_path %></li>
  <li><%= link_to 'Mes démarches', maps_path %></li>
</ul>
</section>
</nav>
</div>